<h1 class="display-4">EMP. Register</h1>
<!-- <form #form="ngForm" autocomplete="off">
    <div class="form-group">
        <input name="fullName" #fullName="ngModel" [(ngModel)]="service.formData.fullName" class="form-controll" placeholder="full name">
    </div>
    <div class="form-group">
        <input name="position" #position="ngModel" [(ngModel)]="service.formData.position" class="form-controll" placeholder="full name">
    </div>
    <div class="form-row col-md-6">
        <div class="form-group">
            <input name="empCode" #empCode="ngModel" [(ngModel)]="service.formData.empCode" class="form-controll" placeholder="full name">
        </div>
        <div class="form-group">
            <input name="mobile" #mobile="ngModel" [(ngModel)]="service.formData.mobile" class="form-controll" placeholder="full name">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-block btn-info">SUBMIT</button>
    </div>
</form> -->

<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <div class="form-group">
        <label>Hari</label>
        <input class="form-control" name="day" #day="ngModel" [(ngModel)]="service.formData.day">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Tgl</label>
        <input class="form-control" name="date" #date="ngModel" [(ngModel)]="service.formData.date">
      </div>
      <div class="form-group col-md-6">
        <label>Imsak</label>
        <input class="form-control" name="imsak" #imsak="ngModel" [(ngModel)]="service.formData.imsak">
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label>Subuh</label>
          <input class="form-control" name="subuh" #subuh="ngModel" [(ngModel)]="service.formData.subuh">
        </div>
        <div class="form-group col-md-6">
          <label>Terbit</label>
          <input class="form-control" name="terbit" #terbit="ngModel" [(ngModel)]="service.formData.terbit">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label>Dzuhur</label>
          <input class="form-control" name="dzuhur" #dzuhur="ngModel" [(ngModel)]="service.formData.dzuhur">
        </div>
        <div class="form-group col-md-6">
          <label>Ashar</label>
          <input class="form-control" name="ashar" #ashar="ngModel" [(ngModel)]="service.formData.ashar">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label>Maghrib</label>
          <input class="form-control" name="maghrib" #maghrib="ngModel" [(ngModel)]="service.formData.maghrib">
        </div>
        <div class="form-group col-md-6">
          <label>Isya</label>
          <input class="form-control" name="isya" #isya="ngModel" [(ngModel)]="service.formData.isya">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>